@media (max-width: 1260px) {
  .allocationShare {
    display: none;
  }
}

@media (min-width: 1261px) {
  .allocationShareMobile {
    display: none;
  }
}

@media (max-width: 720px) {
  .allocationAmount {
    display: none;
  }
}

@media (min-width: 720px) {
  .allocationAmountMobile {
    display: none;
  }
}

@media (max-width: 590px) {
  .allocationNewBalance {
    display: none;
  }
}

@media (min-width: 590px) {
  .allocationNewBalanceMobile {
    display: none;
  }
}
