.headerContainer {
  height: 70px;
  width: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: flex; }
  .headerContainer .investmentsHeading {
    margin-bottom: 20px;
    height: 70px;
    line-height: 70px !important; }
  .headerContainer .header {
    text-align: left; }
