@import "../../base.scss";

.aboutContainer {
  max-width: 1600px;
  margin: 20px auto;

  .aboutTextContainer {
    margin: 20px auto;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .aboutCompanyName {
    color: $primary-color;
    font-weight: 700;
  }

  .aboutLink {
    color: $primary-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $primary-color;
      text-decoration: none;
    }
  }

  .aboutFeatureContent {
    padding: 40px;
  }

  .aboutFeatureSubtitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .aboutContactContent {
    padding: 10px;
  }

  .aboutHeading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .underline {
    position: relative;
    font-size: 20px;
    max-width: 350px;
    margin: auto auto 80px;
    color: $primary-color;
    text-align: center;

    &:before {
      position: absolute;
      content: "";
      width: 150px;
      height: 1px;
      background-color: $secondary-text-color;
      top: 50%;
      left: 0;
    }

    &:after {
      position: absolute;
      content: "";
      width: 150px;
      height: 1px;
      background-color: $secondary-text-color;
      top: 50%;
      right: 0;
    }

    .material-icons {
      font-size: 30px;
    }
  }

  .aboutContact {
    text-align: center;
    font-size: 24px;
    color: $secondary-text-color;
    line-height: 64px;
    height: 64px;
  }

  .contactLink {
    font-size: 24px;
    color: $secondary-text-color;

    &:hover,
    &:focus {
      color: $secondary-text-color;
      text-decoration: none;
    }
  }

  .contactIcon {
    margin-right: 15px;
  }
}

