.aboutContainer {
  max-width: 1600px;
  margin: 20px auto; }
  .aboutContainer .aboutTextContainer {
    margin: 20px auto;
    font-size: 1.2em;
    line-height: 1.8em; }
  .aboutContainer .aboutCompanyName {
    color: #673AB7;
    font-weight: 700; }
  .aboutContainer .aboutLink {
    color: #673AB7;
    text-decoration: none; }
    .aboutContainer .aboutLink:hover, .aboutContainer .aboutLink:focus {
      color: #673AB7;
      text-decoration: none; }
  .aboutContainer .aboutFeatureContent {
    padding: 40px; }
  .aboutContainer .aboutFeatureSubtitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    color: #673AB7;
    margin-bottom: 20px; }
  .aboutContainer .aboutContactContent {
    padding: 10px; }
  .aboutContainer .aboutHeading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 50px; }
  .aboutContainer .underline {
    position: relative;
    font-size: 20px;
    max-width: 350px;
    margin: auto auto 80px;
    color: #673AB7;
    text-align: center; }
    .aboutContainer .underline:before {
      position: absolute;
      content: "";
      width: 150px;
      height: 1px;
      background-color: #757575;
      top: 50%;
      left: 0; }
    .aboutContainer .underline:after {
      position: absolute;
      content: "";
      width: 150px;
      height: 1px;
      background-color: #757575;
      top: 50%;
      right: 0; }
    .aboutContainer .underline .material-icons {
      font-size: 30px; }
  .aboutContainer .aboutContact {
    text-align: center;
    font-size: 24px;
    color: #757575;
    line-height: 64px;
    height: 64px; }
  .aboutContainer .contactLink {
    font-size: 24px;
    color: #757575; }
    .aboutContainer .contactLink:hover, .aboutContainer .contactLink:focus {
      color: #757575;
      text-decoration: none; }
  .aboutContainer .contactIcon {
    margin-right: 15px; }
