$primary-color-dark:   #512DA8 ;
$primary-color:        #673AB7;; //152540
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   rgba(33, 33, 33, 1);
$primary-text-hover:   rgba(33, 33, 33, .8);
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$inactive-color:       #EDE7F6;

//$positive: #388D3C;
$positive: rgb(60, 212, 131);
//$negative: #D22F2F;
$negative: rgb(255, 96, 96);