@import "base.scss";
@import "flex-layout.scss";
@import "styles/mobileCard.scss";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'bitcoinregular';
  src: url('fonts/bitcoin/bitcoin-webfont.eot');
  src: url('fonts/bitcoin/bitcoin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/bitcoin/bitcoin-webfont.woff2') format('woff2'),
  url('fonts/bitcoin/bitcoin-webfont.woff') format('woff'),
  url('fonts/bitcoin/bitcoin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bitcoin {
  font-family: bitcoinregular, arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.appContainer {
  padding: 106px 42px 42px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 64px);
  background-color: #F4F8F9;
}

.viewMessageContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centeredContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
 /* margin: auto;
  padding-top: 40px;*/
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.headerContainer {
  height: 70px;
  max-height: 70px;
  width: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;

  .investmentsHeading {
    margin-bottom: 20px;
    height: 70px;
    line-height: 70px !important;
  }

  .header {
    text-align: left;
  }
}


@media (max-width: 400px) {
  .headerContainer .investmentsHeading {
    font-size: 18px;
  }
}

.noBackground {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.primaryColor {
  color: $primary-color !important;
}

@media (max-width: 962px) {
  .appContainer {
    padding: 106px 20px 20px;
  }
}

@media (max-width: 768px) {
  .appContainer {
    padding: 106px 8px 8px;
  }
}

@media (max-width: 484px) {
  .appContainer {
    padding: 92px 8px 8px;
  }
}

.noPadding {
  padding: 0 !important;
}

.fullHeight {
  height: 100% !important;
}

.cellContainer {
  width: 100%;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}