.auth-container {
  min-height: 100vh;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #673AB7; }

.auth-form-container {
  display: flex; }

.authFormPaper {
  padding: 50px;
  min-width: 550px; }

.authHeading {
  text-align: center; }

.authSubHeading {
  margin-top: 15px !important;
  text-align: center; }

.authForm {
  /*  margin-top: 30px;*/ }

.formActionButton {
  width: 100%;
  margin-top: 25px;
  height: 48px;
  line-height: 48px; }

.authSwitcher {
  text-align: center;
  margin-top: 50px;
  font-size: 1.1em; }

.authSwitcherLink {
  color: #673AB7;
  font-weight: 700; }

.authLogoContainer {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  margin: 30px auto 60px;
  text-transform: uppercase; }
  .authLogoContainer .material-icons {
    font-size: 36px;
    position: relative;
    top: 5px;
    margin-right: 12px; }

.authSocialDivider {
  margin: 30px auto;
  color: #757575;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: table;
  white-space: nowrap; }
  .authSocialDivider:before, .authSocialDivider:after {
    border-top: 1px solid #757575;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  .authSocialDivider:before {
    right: 1.5%; }
  .authSocialDivider:after {
    left: 1.5%; }

@media (max-width: 484px) {
  .authLogoContainer {
    font-size: 24px;
    margin: 30px auto; }
    .authLogoContainer .material-icons {
      font-size: 24px; }
  .authFormPaper {
    padding: 50px 10px;
    min-width: 0; } }
