@import '../../../base.scss';

.tablePrimaryData {
  font-size: 1.3em;
  margin-bottom: 2px;
}

.tableSecondaryData {
  font-size: .8em;
  color: $secondary-text-color;
}

/* specific table columns */
@media (min-width: 1221px) {

  .investmentsTableDayChangeSmallScreen {
    display: none !important;
  }
}

@media (max-width: 1220px) {
  .investmentsTableDayChange {
    display: none !important;
  }
}

@media (min-width: 1060px) {

  .investmentsTableSpentSmallScreen {
    display: none !important;
  }
}

@media (max-width: 1060px) {
  .investmentsTableSpent {
    display: none !important;
  }
}

@media (max-width: 828px) {

  .investmentsTableCurrentPrice {
    display: none !important;
  }
}

/*@media (max-width: 828px) {
  .investmentsTableCurrentPrice {
    display: none !important;
  }
}*/

