@import '../../../base.scss';
.formControl > div {
  width: 100%;
}

.formGroup {
  .formControl {
    padding: 20px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}