.formControl > div {
  width: 100%; }

.formGroup .formControl {
  padding: 20px; }
  .formGroup .formControl:first-child {
    padding-left: 0; }
  .formGroup .formControl:last-child {
    padding-right: 0; }
