.navUserInfo {
  height: 64px;
  font-size: 18px; }
  .navUserInfo:hover {
    cursor: pointer; }
  .navUserInfo .userName {
    margin-left: 15px; }
  .navUserInfo .material-icons {
    margin-left: 4px;
    font-size: 16px; }

.navUserInfoButton {
  color: #FFFFFF !important; }

@media (max-width: 920px) {
  .navUserInfo .userName {
    display: none; } }
