@import '../../../base.scss';

.navUserInfo {
  height: 64px;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }

  .userName {
    margin-left: 15px;
  }

  .material-icons {
    margin-left: 4px;
    font-size: 16px;
  }
}

.navUserInfoButton {
  color: $primary-color-text !important;
}

@media (max-width: 920px){
  .navUserInfo {
    .userName {
      display: none;
    }
  }
}