.drawerHeader {
  height: 64px;
  max-height: 64px;
  width: 100%;
  background-color: #673AB7; }

.menuList {
  width: 250px;
  flex: initial; }

.menu-item.active,
.menu-item.active a,
.menu-item.active h3,
.menu-item.active .material-icons {
  color: #673AB7 !important; }

.navAppLogo {
  height: 64px;
  width: 100%;
  line-height: 64px;
  margin-left: 12px;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase; }
  .navAppLogo .material-icons {
    font-size: 12px;
    margin-right: 12px;
    position: relative;
    top: 2px; }
