@import "../../base.scss";

.drawerHeader {
  height: 64px;
  max-height: 64px;
  width: 100%;
  background-color: $primary-color;
}

.menuList {
  width: 250px;
  flex: initial;
}

.menu-item.active,
.menu-item.active a,
.menu-item.active h3,
.menu-item.active .material-icons {
  color: $primary-color !important;
}

.navAppLogo {
  height: 64px;
  width: 100%;
  line-height: 64px;
  margin-left: 12px;
  font-size: 16px;
  color: $primary-color-text;
  text-transform: uppercase;

  .material-icons {
    font-size: 12px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
}