.tableContainer {
  position: relative; }

.positive {
  color: #388D3C; }

.negative {
  color: #D22F2F; }

.coinThumb {
  margin-right: 10px;
  height: 16px;
  width: 16px; }

.coinDetailsHeading {
  color: #757575;
  font-weight: 700; }

.coinDetails {
  padding: 10px 15px; }
