.transactionAction {
  margin-left: 26px; }

.mobileCardCell .transactionPrimaryData {
  font-size: 1em; }

.mobileCardCell .transactionSecondaryData {
  font-size: .8em; }

.mobileCardCell .transactionPrimaryData, .mobileCardCell .transactionSecondaryData {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
