.transactionAction {
  margin-left: 26px;
}

.mobileCardCell {
  .transactionPrimaryData {
    font-size: 1em;
  }

  .transactionSecondaryData {
    font-size: .8em;
  }

  .transactionPrimaryData, .transactionSecondaryData {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}