@import '../../../base.scss';
.formControl {
  /*width: 100%;*/
  padding: 20px;
}

.formControl > div {
  width: 100%;
}

.accountReminderLink {
  color: $secondary-text-color;
  font-weight: 700;

  &:hover {
    color: $primary-color;
  }
}