.formControl {
  /*width: 100%;*/
  padding: 20px; }

.formControl > div {
  width: 100%; }

.accountReminderLink {
  color: #757575;
  font-weight: 700; }
  .accountReminderLink:hover {
    color: #673AB7; }
