.headerContainer {
  height: 70px;
  width: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;

  .investmentsHeading {
    margin-bottom: 20px;
    height: 70px;
    line-height: 70px !important;
  }

  .header {
    text-align: left;
  }
}

.settingsPaper {
  padding: 20px;
  margin: 20px auto;
}

.setting {
  padding: 20px;
}

.settingsActionButton {
  /*width: 100%;*/
  margin-top: 25px;
  height: 48px;
  line-height: 48px;
}