@import '../../base.scss';

.investmentsContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.paperFullHeight {
  height: 100%;
}

.portfolioValueContainer {
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.layoutColumn {
  padding: 0 20px;
}

.layoutColumn {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.layoutColumn.noShadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

@media (max-width: 600px) {
  .layoutColumn {
    padding: 0 8px;
  }
}