table {
  background-color: transparent; }

.tableContainer {
  position: relative; }

.positive {
  color: #3cd483; }

.negative {
  color: #ff6060; }

.coinThumb {
  margin-right: 10px;
  height: 16px;
  width: 16px; }

@media (max-width: 540px) {
  .marketCapCell {
    display: none !important; } }
