@import '../../../base.scss';
.root {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-around;*/
}

.gridList {
  width: 100%;
}

.portfolioValue {
  width: 100%;

  .cardHeaderContainer {
    width: 100%;
    background-color: #f8f8f8;
    padding: 14px 8px;
    text-align: left;

    h2 {
      color: $secondary-text-color !important;
      font-weight: 700;
      max-width: 100%;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .primaryData {
    font-size: 2em;
    margin: 20px auto 30px;
    text-align: center;
  }

  .secondaryData {
    text-align: center;
    font-size: 1.1em;
    color: $secondary-text-color;
  }

  .portfolioCard {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    &:first-child {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-top: 20px;
    }
  }

  .valueContainer {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;

    .secondaryData {
      width: 50%;
      text-align: center;
      padding: 0 10px;
    }
  }

  .secondaryDataFullWidth {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }

  @media (max-width: 1279px) {
    .portfolioCard {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 95%;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 962px) {
    .primaryData {
      font-size: 1.5em;
      margin: 10px auto 20px;
    }

    .secondaryData {
      font-size: .8em;
      color: $secondary-text-color;
    }

    .cardHeaderContainer {
      width: 100%;
      background-color: #f8f8f8;
      padding: 10px 8px;
      text-align: left;

      h2 {
        font-size: 1.2em !important;
      }
    }

    .portfolioCard {

      &:first-child {
        margin-right: 8px;
      }

      &:last-child {
        margin-left: 8px;
      }
    }
  }

  @media (max-width: 520px) {
    .primaryData {
      font-size: 1.3em;
    }

    .cardHeaderContainer {
      h2 {
        font-size: 1em !important;
      }
    }

  }

  @media (max-width: 430px) {
    .primaryData {
      font-size: 1.1em;
    }

    .cardHeaderContainer {
      h2 {
        font-size: .8em !important;
      }
    }
  }

  @media (max-width: 600px) {
    .portfolioCard {

      margin-bottom: 10px;
      width: 100%;

      &:first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }
}
