.root {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-around;*/ }

.gridList {
  width: 100%; }

.portfolioValue {
  width: 100%; }
  .portfolioValue .cardHeaderContainer {
    width: 100%;
    background-color: #f8f8f8;
    padding: 14px 8px;
    text-align: left; }
    .portfolioValue .cardHeaderContainer h2 {
      color: #757575 !important;
      font-weight: 700;
      max-width: 100%;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .portfolioValue .primaryData {
    font-size: 2em;
    margin: 20px auto 30px;
    text-align: center; }
  .portfolioValue .secondaryData {
    text-align: center;
    font-size: 1.1em;
    color: #757575; }
  .portfolioValue .portfolioCard {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column; }
    .portfolioValue .portfolioCard:first-child {
      margin-bottom: 20px; }
    .portfolioValue .portfolioCard:last-child {
      margin-top: 20px; }
  .portfolioValue .valueContainer {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around; }
    .portfolioValue .valueContainer .secondaryData {
      width: 50%;
      text-align: center;
      padding: 0 10px; }
  .portfolioValue .secondaryDataFullWidth {
    width: 100%;
    text-align: center;
    padding: 0 10px; }
  @media (max-width: 1279px) {
    .portfolioValue .portfolioCard {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 95%; }
      .portfolioValue .portfolioCard:first-child {
        margin-right: 20px; }
      .portfolioValue .portfolioCard:last-child {
        margin-left: 20px; } }
  @media (max-width: 962px) {
    .portfolioValue .primaryData {
      font-size: 1.5em;
      margin: 10px auto 20px; }
    .portfolioValue .secondaryData {
      font-size: .8em;
      color: #757575; }
    .portfolioValue .cardHeaderContainer {
      width: 100%;
      background-color: #f8f8f8;
      padding: 10px 8px;
      text-align: left; }
      .portfolioValue .cardHeaderContainer h2 {
        font-size: 1.2em !important; }
    .portfolioValue .portfolioCard:first-child {
      margin-right: 8px; }
    .portfolioValue .portfolioCard:last-child {
      margin-left: 8px; } }
  @media (max-width: 520px) {
    .portfolioValue .primaryData {
      font-size: 1.3em; }
    .portfolioValue .cardHeaderContainer h2 {
      font-size: 1em !important; } }
  @media (max-width: 430px) {
    .portfolioValue .primaryData {
      font-size: 1.1em; }
    .portfolioValue .cardHeaderContainer h2 {
      font-size: .8em !important; } }
  @media (max-width: 600px) {
    .portfolioValue .portfolioCard {
      margin-bottom: 10px;
      width: 100%; }
      .portfolioValue .portfolioCard:first-child {
        margin-right: 0;
        margin-bottom: 10px; }
      .portfolioValue .portfolioCard:last-child {
        margin-left: 0;
        margin-bottom: 10px; } }
