.landingContainer {
  padding-top: 64px; }

@media (max-width: 484px) {
  .landingContainer {
    padding-top: 56px; } }

.landingPrimarySection {
  padding-bottom: 150px;
  background-color: #673AB7;
  color: #FFFFFF; }
  .landingPrimarySection .landingPrimarySectionHeading {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 100px;
    text-transform: uppercase; }
  .landingPrimarySection .landingPrimarySectionSubheading {
    font-size: 2em;
    margin-bottom: 80px; }
  .landingPrimarySection .registerButton {
    font-size: 1.1em;
    padding: 20px 40px; }
    .landingPrimarySection .registerButton a {
      color: #FFFFFF; }
      .landingPrimarySection .registerButton a:focus, .landingPrimarySection .registerButton a:hover {
        color: #FFFFFF;
        text-decoration: none; }
  .landingPrimarySection .actionButtonLink {
    color: #FFFFFF; }
    .landingPrimarySection .actionButtonLink:focus, .landingPrimarySection .actionButtonLink:hover {
      color: #FFFFFF;
      text-decoration: none; }
  .landingPrimarySection .landingPrimarySectionImage img {
    max-width: 100%;
    margin-top: 30px;
    max-height: 600px; }

.underline {
  position: relative;
  font-size: 20px;
  max-width: 350px;
  margin: 15px auto 20px;
  color: #673AB7;
  text-align: center; }
  .underline:before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #757575;
    top: 50%;
    left: 0; }
  .underline:after {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #757575;
    top: 50%;
    right: 0; }
  .underline .material-icons {
    font-size: 30px; }

.landingHeading {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 120px; }

.landingSection .aboutFeatureContent {
  padding: 40px; }

.landingSection .aboutFeatureSubtitle {
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  color: #673AB7;
  margin-bottom: 20px; }

.landingSection .aboutContactContent {
  padding: 10px; }

.landingSection .aboutTextContainer {
  margin: 60px auto;
  font-size: 1.2em;
  line-height: 1.8em; }

.landingSection .aboutCompanyName {
  color: #673AB7;
  font-weight: 700; }

.landingSection .aboutLink {
  color: #673AB7;
  text-decoration: none; }
  .landingSection .aboutLink:hover, .landingSection .aboutLink:focus {
    color: #673AB7;
    text-decoration: none; }

@media (max-width: 588px) {
  .landingPrimarySectionImage {
    display: none; }
  .landingPrimarySection {
    height: auto;
    padding-bottom: 50px; } }

.landingHeading {
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  color: #673AB7;
  margin-bottom: 20px; }

.featuresSection {
  margin-top: 50px; }

.feature {
  margin: 20px auto; }
  .feature .featureName {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    color: #673AB7;
    margin-bottom: 20px; }
  .feature .featureColumn {
    padding: 20px; }
  .feature .featureImage {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; }
  .feature .featureDescription {
    width: 90%; }

@media (max-width: 1279px) {
  .featureContentFullscreen {
    display: none !important; } }

@media (min-width: 1280px) {
  .featureContentMobile {
    display: none !important; } }

.contactIcon {
  margin-right: 15px; }

@media (max-width: 620px) {
  .landingPrimarySection .landingPrimarySectionHeading {
    font-size: 3em;
    margin-bottom: 40px; }
  .landingPrimarySection .landingPrimarySectionSubheading {
    font-size: 1.7em; } }

@media (max-width: 424px) {
  .landingPrimarySection .landingPrimarySectionHeading {
    font-size: 2.5em;
    margin-bottom: 30px; }
  .landingPrimarySection .landingPrimarySectionSubheading {
    font-size: 1.2em; } }
