@import "../../base.scss";

.landingContainer {
  padding-top: 64px;
}

@media (max-width: 484px) {
  .landingContainer {
    padding-top: 56px;
  }
}

.landingPrimarySection {
  padding-bottom: 150px;
  background-color: $primary-color;
  color: $primary-color-text;

  .landingPrimarySectionHeading {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 100px;
    text-transform: uppercase;
  }

  .landingPrimarySectionSubheading {
    font-size: 2em;
    margin-bottom: 80px;
  }

  .registerButton {
    font-size: 1.1em;
    padding: 20px 40px;

    a {
      color: $primary-color-text;

      &:focus, &:hover {
        color: $primary-color-text;
        text-decoration: none;
      }
    }
  }

  .actionButtonLink {
    color: $primary-color-text;

    &:focus, &:hover {
      color: $primary-color-text;
      text-decoration: none;
    }
  }

  .landingPrimarySectionImage {
    img {
      max-width: 100%;
      margin-top: 30px;
      max-height: 600px;
    }
  }
}

.underline {
  position: relative;
  font-size: 20px;
  max-width: 350px;
  margin: 15px auto 20px;
  color: $primary-color;
  text-align: center;

  &:before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: $secondary-text-color;
    top: 50%;
    left: 0;
  }

  &:after {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: $secondary-text-color;
    top: 50%;
    right: 0;
  }

  .material-icons {
    font-size: 30px;
  }
}

.landingHeading {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 120px;
}

.landingSection {
  .aboutFeatureContent {
    padding: 40px;
  }

  .aboutFeatureSubtitle {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .aboutContactContent {
    padding: 10px;
  }

  .aboutTextContainer {
    margin: 60px auto;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .aboutCompanyName {
    color: $primary-color;
    font-weight: 700;
  }

  .aboutLink {
    color: $primary-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

@media (max-width: 588px) {
  .landingPrimarySectionImage {
    display: none;
  }

  .landingPrimarySection {
    height: auto;
    padding-bottom: 50px;
  }
}

.landingHeading {
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  color: $primary-color;
  margin-bottom: 20px;
}

.featuresSection {
  margin-top: 50px;
}

.feature {
  margin: 20px auto;

  .featureName {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .featureColumn {
    padding: 20px;
  }

  .featureImage {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .featureDescription {
    width: 90%;
  }
}

@media (max-width: 1279px){
  .featureContentFullscreen {
    display: none !important;
  }
}

@media (min-width: 1280px){
  .featureContentMobile {
    display: none !important;
  }
}

.contactIcon {
  margin-right: 15px;
}

@media (max-width: 620px) {
  .landingPrimarySection {
    .landingPrimarySectionHeading {
      font-size: 3em;
      margin-bottom: 40px;
    }

    .landingPrimarySectionSubheading {
      font-size: 1.7em;
    }
  }
}

@media (max-width: 424px) {
  .landingPrimarySection {
    .landingPrimarySectionHeading {
      font-size: 2.5em;
      margin-bottom: 30px;
    }

    .landingPrimarySectionSubheading {
      font-size: 1.2em;
    }
  }
}
