@import '../../styles/tables.scss';
@import '../../base.scss';

.tablePrimaryData {
  font-size: 1.3em;
  margin-bottom: 2px;
}

.tableSecondaryData {
  font-size: .8em;
  color: $secondary-text-color;
}