table {
  background-color: transparent; }

.tableContainer {
  position: relative; }

.positive {
  color: #3cd483; }

.negative {
  color: #ff6060; }

.coinThumb {
  margin-right: 10px;
  height: 16px;
  width: 16px; }

.tablePrimaryData {
  font-size: 1.3em;
  margin-bottom: 2px; }

.tableSecondaryData {
  font-size: .8em;
  color: #757575; }
