.gridList {
  width: 100%; }

.transactionValue .cardHeaderContainer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 14px 8px; }
  .transactionValue .cardHeaderContainer h2 {
    color: #757575 !important;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }

.transactionValue .primaryData {
  font-size: 2em;
  text-align: center;
  margin: 20px auto 30px; }

.transactionValue .secondaryData {
  font-size: 1.1em;
  text-align: center;
  color: #757575; }

.transactionValue .portfolioCard {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 95%; }
  .transactionValue .portfolioCard:first-child {
    margin-right: 20px; }
  .transactionValue .portfolioCard:last-child {
    margin-left: 20px; }

.transactionValue .valueContainer {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around; }

.transactionValue .secondaryData {
  width: 100%;
  text-align: center;
  padding: 0 10px; }

@media (max-width: 962px) {
  .transactionValue .primaryData {
    font-size: 1.5em;
    margin: 10px auto 20px; }
  .transactionValue .secondaryData {
    font-size: .8em;
    color: #757575; }
  .transactionValue .cardHeaderContainer {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 8px;
    text-align: left; }
    .transactionValue .cardHeaderContainer h2 {
      font-size: 1.2em !important; }
  .transactionValue .portfolioCard:first-child {
    margin-right: 8px; }
  .transactionValue .portfolioCard:last-child {
    margin-left: 8px; } }

@media (max-width: 600px) {
  .transactionValue .portfolioCard {
    margin-bottom: 10px;
    width: 100%; }
    .transactionValue .portfolioCard:first-child {
      margin-right: 0;
      margin-bottom: 10px; }
    .transactionValue .portfolioCard:last-child {
      margin-left: 0;
      margin-bottom: 10px; } }

@media (max-width: 520px) {
  .transactionValue .primaryData {
    font-size: 1.2em; }
  .transactionValue .secondaryData {
    font-size: .8em; }
  .transactionValue .cardHeaderContainer h2 {
    font-size: 1em !important; } }

@media (max-width: 430px) {
  .transactionValue .primaryData {
    font-size: 1em; }
  .transactionValue .secondaryData {
    font-size: .8em; }
  .transactionValue .cardHeaderContainer h2 {
    font-size: .8em !important; } }
