@import "../../base.scss";
@import "../../base.scss";

.footer {
  background-color: $primary-color;
  color: $primary-color-text;
  padding: 20px;
  font-size: 1.2em;

  .footerContainer {
    margin-bottom: 10px;
  }

  .footerCopyRight {
    color: $primary-color-text;

    .companyName {
      font-weight: 700;
    }
  }

  .footerLink {
    color: $primary-color-text;
    margin-bottom: 10px;

    &:hover, &:focus {
      text-decoration: none;
      color: $primary-color-text;
    }
  }

  .donationContainer {
    margin-bottom: 10px;
    font-size: .7em;
  }

  .footerIcon {
    margin-right: 15px;
  }

  @media (max-width: 1280px){
    .footerDonation {
      display: none;
    }

    .footerDonationMobile {
      margin-top: 30px;
    }
  }

  @media (min-width: 1279px){
    .footerDonationMobile {
      display: none;
    }
  }
}

@media (max-width: 959px) {
  .footer {
    padding-bottom: 0;
  }
}

