.footer {
  background-color: #673AB7;
  color: #FFFFFF;
  padding: 20px;
  font-size: 1.2em; }
  .footer .footerContainer {
    margin-bottom: 10px; }
  .footer .footerCopyRight {
    color: #FFFFFF; }
    .footer .footerCopyRight .companyName {
      font-weight: 700; }
  .footer .footerLink {
    color: #FFFFFF;
    margin-bottom: 10px; }
    .footer .footerLink:hover, .footer .footerLink:focus {
      text-decoration: none;
      color: #FFFFFF; }
  .footer .donationContainer {
    margin-bottom: 10px;
    font-size: .7em; }
  .footer .footerIcon {
    margin-right: 15px; }
  @media (max-width: 1280px) {
    .footer .footerDonation {
      display: none; }
    .footer .footerDonationMobile {
      margin-top: 30px; } }
  @media (min-width: 1279px) {
    .footer .footerDonationMobile {
      display: none; } }

@media (max-width: 959px) {
  .footer {
    padding-bottom: 0; } }
