@import '../../../base.scss';

.tablePaper {
  width: 100%;

}

.transactionPrimaryData {
  font-size: 1.3em;
  margin-bottom: 2px;
}

.transactionSecondaryData {
  font-size: .8em;
  color: $secondary-text-color;
}

.tableOptions {
  text-align: center;
}

@media (max-width: 640px) {
  .dateBoughtCell {
    display: none;
  }
}

@media (min-width: 640px) {
  .dateBoughtMobile {
    display: none;
  }
}

