.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #673AB7;
  color: #FFFFFF;
  text-align: center; }

.loadingHeading {
  margin-bottom: 40px !important;
  font-weight: 700 !important;
  color: #FFFFFF !important;
  text-transform: uppercase !important;
  font-size: 45px; }
  .loadingHeading .material-icons {
    font-size: 45px;
    margin-right: 12px;
    position: relative;
    top: 4px; }

@media (max-width: 584px) {
  .loadingHeading {
    font-size: 36px; }
    .loadingHeading .material-icons {
      font-size: 36px; } }

@media (max-width: 420px) {
  .loadingHeading {
    font-size: 28px; }
    .loadingHeading .material-icons {
      font-size: 28px; } }
