.iconContainer {
  height: 100%;
  position: relative;
  top: 4px; }
  .iconContainer .material-icons {
    font-size: 18px; }

@media (max-width: 600px) {
  .iconContainer .material-icons {
    font-size: 18px; } }

@media (max-width: 450px) {
  .iconContainer .material-icons {
    font-size: 18px; } }
