@import '../../../base.scss';

.tablePaper {
  width: 100%;

}

.transactionPrimaryData {
  font-size: 1.3em;
  margin-bottom: 2px;
}

.transactionSecondaryData {
  font-size: .8em;
  color: $secondary-text-color;
}

.tableOptions {
  text-align: center;
}

@media (min-width: 856px) {
  .pricePerItemMobile {
    display: none;
  }
}

@media (max-width: 855px) {
  .pricePerItem {
    display: none;
  }
}