.navbar {
  margin: 0;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.whiteAppBar {
  background-color: #FFFFFF;
  color: #673AB7; }

.title {
  flex: 1; }

.navMenu {
  list-style-type: none; }
  .navMenu li {
    line-height: 64px;
    height: 64px;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 25px;
    text-transform: uppercase; }
  .navMenu .loginLink {
    color: #FF5252;
    text-decoration: none; }

.navSignupButton {
  border: 1px solid #FFFFFF !important;
  border-radius: 10px !important;
  margin-left: 30px; }
  .navSignupButton .navSignupLink {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px; }

.appLogo {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
  color: #FFFFFF; }
  .appLogo .material-icons {
    font-size: 24px;
    margin-right: 12px;
    position: relative;
    top: 2px; }

.navMenuLink a {
  color: #FFFFFF;
  text-decoration: none; }
  .navMenuLink a:hover, .navMenuLink a:focus {
    color: #FFFFFF;
    text-decoration: none; }

@media (max-width: 920px) {
  .appLogo {
    margin-left: 12px;
    font-size: 16px; }
    .appLogo .material-icons {
      font-size: 12px; } }

@media (max-width: 998px) {
  .navSignupButton {
    margin-left: 12px; }
  .navMenu li {
    line-height: 64px;
    height: 64px;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 12px;
    text-transform: uppercase; }
  .navSignupButton .navSignupLink {
    font-size: 14px; } }

@media (min-width: 821px) {
  .navMobileSpacer {
    display: none; }
  .navLoginButton, .landingMenuToggle {
    display: none !important; } }

@media (max-width: 820px) {
  .navLoginButton, .landingMenuToggle {
    display: block; }
  .navLoginButton, .navLoginButton a {
    color: #FF5252;
    text-decoration: none; }
  .navMenu {
    display: none !important; } }

@media (max-width: 484px) {
  .appLogo {
    display: none; } }
