.mobileCardContainer {
  /*border-bottom: 1px solid $secondary-text-color;*/
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .mobileCardContainer:last-child {
    border-bottom: none; }

.mobileCard {
  padding: 10px 15px;
  background-color: #fff; }
  .mobileCard:hover, .mobileCard:focus {
    background-color: #FAFAFA;
    color: #673AB7 !important; }
  .mobileCard .tablePrimaryData {
    font-size: 1em; }
  .mobileCard .tablePrimaryData, .mobileCard .tableSecondaryData {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  @media (max-width: 450px) {
    .mobileCard .tablePrimaryData {
      font-size: 1em; } }
  @media (max-width: 400px) {
    .mobileCard .tablePrimaryData {
      font-size: .8em; } }

.mobileCardHeader {
  font-weight: 700;
  background-color: #ecf1f4;
  border-bottom: 1px solid #d6e2eb;
  padding: 12px 20px;
  font-size: 1.1em;
  color: #757575;
  text-align: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px; }
