@import '../base.scss';

table {
  background-color: transparent;
}

.tableContainer {
  position: relative;
}

.positive {
  color: $positive;
}

.negative {
  color: $negative;
}

.coinThumb {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}